#Theory Questions and Answers

1. What are data structures, and why are they important?
  - Data Structure refers to arranging the data in such a way in memory, so that users can retrieve the data any time required efficiently.

2.  Explain the difference between mutable and immutable data types with examples.
  - Mutable datatypes are those whose values can be changed or updated. For eg: Lists.
              
              list1 = [4,3,"hi","world"]
              print(list1)

              list1[2] = "Hello"
              print(list1)

              O/P:
              [4, 3, 'hi', 'world']
              [4, 3, 'Hello', 'world']

  - Immutable datatypes are those whose values can't be changed or updated. For eg: tuple
              tup = (3,4,"hi","world")
              print(tup)
              tup[2] = "hello"
              print(tup)

              O/P:
                   tup[2] = "hello"
                    ~~~^^^
                TypeError: 'tuple' object does not support item assignment


3.  What are the main differences between lists and tuples in Python?
  - Lists are mutable and Tuples are immutable.

4.  Describe how dictionaries store data.
  - Dictionaries stores data in the form of Key Value pair.
            person = {
            "name": "Debojyoti",
            "age": 21,
            "city": "Kolkata"
            }
            print(person)

            O/P:
            {'name': 'Debojyoti', 'age': 21, 'city': 'Kolkata'}

5.  Why might you use a set instead of a list in Python?
  - A set do not contain duplicate values whereas lists can contain duplicate values. In places where we want to remove redundancies and duplicates, set is preferred over list.

6.  What is a string in Python, and how is it different from a list?
  - String is characters inside single, double or triple quotes. There can be multiple characters also. String is the consecutive collection whereas in list values are separated by commas. And the output in strings will be consecutive whereas in list it will be in a form of separation with each other with commas.

            my_string = "hello"
            print(my_string)

            my_list = ['h', 'e', 'l', 'l', 'o']
            print(my_list)

            O/P:
            hello
            ['h', 'e', 'l', 'l', 'o']


7. How do tuples ensure data integrity in Python?
  - Tuples are immutable, meaning their elements cannot be changed after creation. This ensures that data stored in tuples remains consistent and protected from accidental modification, making them ideal for fixed collections or read-only data.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores data in key-value pairs and uses a hashing function to compute an index (hash) where the value is stored. In Python, the **dictionary** (dict) is implemented using a hash table internally.

  - When you store a value in a dictionary with a key:

  - Python applies a hash function to the key.

  - This determines where in memory the value should go.

  - This allows for fast lookup, insertion, and deletion — typically in constant time, O(1).
  - Eg:
            my_dict = {'name': 'Alice', 'age': 25}
            print(my_dict['age'])  # Output: 25
    Here, 'age' is hashed to find where '25' is stored.

9. Can lists contain different data types in Python?
  - Yes, lists can contain different datatypes in Python.
            
            mixed_list = [42, "hello", 3.14, True, None]
            print(mixed_list)

            O/P:
            [42, 'hello', 3.14, True, None]


10. Explain why strings are immutable in Python.
  - In Python, strings are immutable, meaning once created, they cannot be changed. Any operation that modifies a string actually creates a new string object.

  - This design is intentional to:

  - Ensure data safety and integrity when strings are shared across the program.

  - Allow strings to be hashable, so they can be used as keys in dictionaries.

  - Example:

              
              s = "hello"
              s[0] = 'H'     # This will raise an error (TypeError)

    - But you can create a new string:

              
              s = "hello"
              s = 'H' + s[1:]
              print(s)  # Output: Hello
  So, the original 'hello' string wasn't changed — a new string 'Hello' was created.

11.  What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries offer several key advantages over lists, especially when working with key-value pairs:

  - Faster Lookup:
    Dictionaries allow constant time (O(1)) access using keys, while lists need to be searched linearly (O(n)).

  - Descriptive Access:
    With dictionaries, data is accessed by meaningful keys instead of numeric indexes, making code more readable.

  - Efficient for Mapping:
    Ideal when you need to map unique keys to values like a student roll number to their marks.

  - Example:

                
                # Using list
                students = ["John", "Alice", "Bob"]
                print(students[1])  # Output: Alice

                # Using dictionary
                marks = {"John": 85, "Alice": 92, "Bob": 78}
                print(marks["Alice"])  # Output: 92
  - So, for tasks involving labelled data, fast lookup, or mappings, dictionaries are a better choice than lists.

12.  Describe a scenario where using a tuple would be preferable over a list.
  - Tuples can be used where we want to make a collection of different datatype elements which won't be changed.
  - Tuples are preferred in cases like storing coordinates (x, y), or fixed database records, where data should not be altered.
  
13.  How do sets handle duplicate values in Python?
  - Sets ommit duplicate values in python.
  - When duplicate values are added to a set, only one instance is kept. Sets automatically filter them.

14.  How does the “in” keyword work differently for lists and dictionaries?
  - The in keyword checks for presence of an element, but it behaves differently in lists and dictionaries:

  - In Lists:
    Checks whether a value exists in the list.

  - In Dictionaries:
    Checks whether a key exists in the dictionary (not the value unless explicitly searched).

  - Example:

            
            # List
            fruits = ["apple", "banana", "mango"]
            print("banana" in fruits)   # Output: True
            print("grape" in fruits)    # Output: False

            # Dictionary
            prices = {"apple": 50, "banana": 20}
            print("apple" in prices)    # Output: True      
            print(50 in prices)         # Output: False     
            
  - So, in checks values in lists, but keys in dictionaries by default.

15.  Can you modify the elements of a tuple? Explain why or why not.
  - No elements inside tuple can't be modified since tuples are immutable in nature.
  
16.  What is a nested dictionary, and give an example of its use case?
  - A dictionary inside a dictionary is called nested dictionary.
  For eg:
                family = {
                    "Rajesh": {
                        "relation": "father",
                        "child": "Debojyoti"
                    },
                    "Suman": {
                        "relation": "mother",
                        "child": "Debojyoti"
                    },
                    "Debojyoti": {
                        "relation": "child",
                        "parents": ["Rajesh", "Suman"]
                    }
                }

                print(family)

                O/P:
            {
            'Rajesh': {'relation': 'father', 'child': 'Debojyoti'},
            'Suman': {'relation': 'mother', 'child': 'Debojyoti'},
            'Debojyoti': {'relation': 'child', 'parents': ['Rajesh', 'Suman']}
            }

  - Nested dictionary can be used in family tree relationship data.

17.  Describe the time complexity of accessing elements in a dictionary.
  - In Python, dictionaries use a hash table under the hood. This allows for fast access to elements based on keys.

  - Average-case time complexity: O(1)

  - Worst-case time complexity: O(n) (rare, due to hash collisions)

  - Accessing an element using a key is usually constant time, regardless of dictionary size.

  - Example:

              
              student = {"name": "Ankit", "age": 21, "branch": "CSE"}

              # Accessing value using key
              print(student["age"])  # Output: 21

18.  In what situations are lists preferred over dictionaries?
  - Lists are preferred when:

  - You need to maintain order of elements (especially before Python 3.7 when dicts were unordered).

  - You have a simple collection of values (like numbers or strings) without named identifiers.

  - You are accessing elements by position/index instead of by key.

  - The data is sequential and doesn't need key-value pairing.

  - Use case example: storing marks of students in order of roll numbers.

                    
                    marks = [82, 75, 91, 68, 88]

                    print(marks[2])  # Output: 91

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
  - In versions of Python before 3.7, dictionaries were considered unordered, meaning the items (key-value pairs) did not maintain the order in which they were inserted. That made it unpredictable when iterating over them.

  - However, from Python 3.7 onwards, dictionaries preserve insertion order, but still, they are not indexed by position like lists. Instead, dictionaries use keys to retrieve values.

  - So:

  - You cannot access items by numerical index (e.g., dict[0] won’t work).

  - You must know the key to access the corresponding value.

  - Example:

                      student = {
                          "name": "Alice",
                          "age": 20,
                          "course": "CSE"
                      }

                      print(student["age"])  # Output: 20
                      # print(student[1])    # This would raise a KeyError

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
  - The key difference lies in how data is accessed:

  - List:
    Elements are accessed using integer indices, starting from 0.
    Data retrieval is based on position.


        fruits = ["apple", "banana", "cherry"]
        print(fruits[1])  # Output: banana
  - Dictionary:
    Elements are accessed using keys (which can be strings, numbers, etc.).
    Data retrieval is based on key-value pairs, not position.


        student = {"name": "Alice", "age": 20}
        print(student["age"])  # Output: 20
  - In summary:

  - Use a list when the order matters and you access items by position.

  - Use a dictionary when you need to associate values with unique identifiers (keys).

#Practical Questions and Anwers

In [48]:
# 1. Write a code to create a string with your name and print it.

name = "Debojyoti Bain"
print(name)

Debojyoti Bain

In [49]:
# 2. Write a code to find the length of the string "Hello World".

str = "Hello World"
print(len(str))

11

In [50]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

str = "Python Programming"
print(str[0:3])

Pyt

In [51]:
# 4. Write a code to convert the string "hello" to uppercase.

str = "hello"
print(str.upper())

HELLO

In [52]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

str = "I like apple"
str = str.replace("apple", "orange")
print(str)

I like orange

In [53]:
#6.  Write a code to create a list with numbers 1 to 5 and print it.

list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [54]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

lis = [1, 2, 3, 4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

In [55]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lis = [1, 2, 3, 4, 5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

In [56]:
#9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list1 = ['a', 'b', 'c', 'd']
print(list1[1])

b

In [57]:
#10.  Write a code to reverse the list [10, 20, 30, 40, 50].

list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [58]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup = (100,200,300)
print(tup)

(100, 200, 300)

In [59]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

In [60]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tup = (10, 20, 5, 15)
print(min(tup))

5

In [61]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tup = ('dog', 'cat', 'rabbit')
print(tup.index("cat"))

1

In [62]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [63]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [64]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [65]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [66]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [67]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [68]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "Alice",
    "age": 25,
    "city": "Kolkata"
}

print(person)

{'name': 'Alice', 'age': 25, 'city': 'Kolkata'}

In [69]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [70]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [71]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [72]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [73]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 7, 'b': 8}

In [74]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

random_list = random.sample(range(1, 101), 5)
random_list.sort()

print("Sorted random list:", random_list)

Sorted random list: [2, 16, 27, 78, 100]

In [75]:
# 28. Write a code to create a list with strings and print the element at the third index.

string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[3])

date

In [76]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Merging dictionaries
combined_dict = {**dict1, **dict2}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [77]:
# 30. Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)

print(string_set)

{'apple', 'cherry', 'banana'}